
 <%- include("./partials/header_event_detail.ejs") %>



  <div class="details content">
    <h2><%= event.title %></h2>
    <div class="content">
      <div class="detail-box">
          <p class="detail-label">Event Description:</p>
          <p class="detail-value"><%= event.description %></p>
      </div>
      <div class="detail-box">
          <p class="detail-label">Event Timings:</p>
          <p class="detail-value"><%= event.timings %></p>
      </div>
      <div class="detail-box">
          <p class="detail-label">Location:</p>
          <p class="detail-value"><%= event.location %></p>
      </div>
      <div class="detail-box">
          <p class="detail-label">Registration Link:</p>
          <p class="detail-value"><a href="<%= event.register %>" style="color: rgb(10, 182, 245);"><%= event.register %></a></p>
      </div>
  </div>
    <a class="delete" data-doc="<%= event._id %>">delete</a>
  </div>

 

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/events/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>