
<%- include("./partials/header_events.ejs") %>



  <div class="events content">
    <h2>All Events</h2>

    <% if (events.length > 0) { %>
      <% events.forEach(event => { %>
        
        <a href="/events/<%= event._id %>" class="single" >
          <h3 class="title"><%= event.title %></h3>
          <p class="timings"><%= event.timings %></p>
        </a>
      
      <% }) %>
    <% } else { %>
      <p>There are no events to display...</p>
    <% } %>
    <a href="/events/create" style="text-decoration: none;"><button>Create Event</button></a>
  </div>

  <!-- <%- include("./partials/footer.ejs") %> -->
</body>
</html>